<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{atoli/layouts/app.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .sort-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="inner-banner inner-bg10">
        <div class="container">
            <div class="inner-title">
                <ul>
                    <li>
                        <a th:href="@{/}">Trang chủ</a>
                    </li>
                    <li><i class="bx bx-chevron-right"></i></li>
                    <li>Chi tiết phòng</li>
                </ul>
                <h3>Chi tiết phòng</h3>
            </div>
        </div>
    </div>

    <div class="room-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="room-details-side">
                        <div class="side-bar-form">
                            <h3>Đặt phòng ngay</h3>
                            <form th:action="@{/booking}" method="post" class="form" th:object="${booking}">
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <div style="display: none" class="form-group">
                                            <input th:value="${comment.replyId}"
                                                   class="form-control" th:text="${comment.replyId}"
                                                   name="currentId" id="currentId"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Tên</label>
                                            <div class="input-group">
                                                <input
                                                        th:value="${booking.name}"
                                                        th:field="*{name}"
                                                        id="nameOrd"
                                                        required
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Nhập tên"
                                                />
                                                <span class="input-group-addon"></span>
                                                <span class="text-danger"
                                                      th:if="${#fields.hasErrors('name')}"
                                                      th:errors="*{name}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <input
                                                        th:th:value="${booking.email}"
                                                        th:field="*{email}"
                                                        id="emailComment"

                                                        type="email"
                                                        class="form-control"
                                                        placeholder="Nhập địa chỉ email..."
                                                />
                                                <span class="input-group-addon"></span>
                                                <span class="text-danger"
                                                      th:if="${#fields.hasErrors('email')}"
                                                      th:errors="*{email}"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Check in</label>
                                            <div class="input-group">
                                                <input
                                                        th:value="${booking.dateCheckin}"
                                                        th:field="*{dateCheckin}"
                                                        required
                                                        id="datetimepicker"
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="09/29/2020"
                                                />
                                                <span class="input-group-addon"></span>
                                                <span class="text-danger"
                                                      th:if="${#fields.hasErrors('dateCheckin')}"
                                                      th:errors="*{dateCheckin}"></span>
                                            </div>
                                            <i class="bx bxs-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Check Out</label>
                                            <div class="input-group">
                                                <input
                                                        th:value="${booking.dateCheckout}"
                                                        th:field="*{dateCheckout}"
                                                        required
                                                        id="datetimepicker-check"
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="09/29/2020"
                                                />
                                                <span class="input-group-addon"></span>
                                                <span class="text-danger"
                                                      th:if="${#fields.hasErrors('dateCheckout')}"
                                                      th:errors="*{dateCheckout}"></span>
                                            </div>
                                            <i class="bx bxs-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Số khách hàng</label>
                                            <select th:field="*{numberOfPerson}" class="form-control">
                                                <th:block
                                                        th:each="i : ${#numbers.sequence(1,room.numberAmount)}">
                                                    <th:block th:if="${i > 0}">
                                                        <option th:value="${i}" th:text="${i}"></option>
                                                    </th:block>
                                                </th:block>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Loại phòng</label>
                                            <select
                                                    th:field="*{roomType}"
                                                    class="form-control">
                                                <th:block
                                                        th:each="i : ${room.getRoomDetails()}">
                                                    <option th:value="${i.getRoomType()}" th:text="${i.getRoomType()}"></option>
                                                </th:block>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Số lượng phòng</label>
                                            <select class="form-control">
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                                <option>05</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button
                                                type="submit"
                                                class="default-btn btn-bg-three border-radius-5"
                                        >
                                            Đặt ngay
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
<!--                        <div class="side-bar-plan">-->
<!--                            <h3>Basic Plan Facilities</h3>-->
<!--                            <ul>-->
<!--                                <li><a href="#">Lunch Facility</a></li>-->
<!--                                <li><a href="#">Breakfast Facility</a></li>-->
<!--                                <li><a href="#">Outdoor Kitchen</a></li>-->
<!--                                <li><a href="#">Shampoo and Soap</a></li>-->
<!--                                <li><a href="#">Dinner Facility</a></li>-->
<!--                                <li><a href="#">Wireless Connectivity</a></li>-->
<!--                                <li><a href="#">Double Bed</a></li>-->
<!--                                <li><a href="#">5 Star Food Favor</a></li>-->
<!--                            </ul>-->
<!--                            <h3>Premium Plan Facilities</h3>-->
<!--                            <ul>-->
<!--                                <li><a href="#">Double Bed</a></li>-->
<!--                                <li><a href="#">Lunch Facility</a></li>-->
<!--                                <li><a href="#">Dinner Facility</a></li>-->
<!--                                <li><a href="#">Breakfast Facility</a></li>-->
<!--                                <li><a href="#">Outdoor Kitchen</a></li>-->
<!--                                <li><a href="#">Shampoo and Soap</a></li>-->
<!--                                <li><a href="#">Wireless Connectivity</a></li>-->
<!--                                <li><a href="#">Mini-Bar</a></li>-->
<!--                                <li><a href="#">5 Star Food Favor</a></li>-->
<!--                                <li><a href="#">Buffet Dinner</a></li>-->
<!--                                <li><a href="#">Satellite Tv</a></li>-->
<!--                                <li><a href="#">Air Condition Facility</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="room-details-article">
                        <div class="room-details-slider owl-carousel owl-theme">

                            <th:block th:if="${room.getRoomImages().size() > 0}">
                                <th:block th:each="image : ${room.getRoomImages()}">
                                    <th:block th:if="${!image.getFilePath().equals('')}">
                                        <div class="room-details-item">
                                            <img
                                                    th:src="${image.getFilePath()}"
                                                    alt="Images"
                                            />
                                        </div>
                                    </th:block>
                                </th:block>


                            </th:block>

                        </div>
                        <div class="room-details-title">
                            <h2 th:text="${room.name}">

                            </h2>
                            <ul>
                                <th:block th:each="r : ${room.getRoomDetails()}">
                                    <li th:text="${r.getRoomType()}+' : '+${#numbers.formatDecimal(r.getPrice(), 1, 'DEFAULT', 0, 'DEFAULT')}"></li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="room-details-content">
                            <div th:utext="${room.description}"></div>
                        </div>
                        <div class="blog-article">
                            <div class="comments-wrap">
                                <h3 class="title">Bình luận</h3>
                                <ul>
                                    <th:block th:if="${roomComments.size() > 0 }" th:each="i : ${roomComments}">
                                        <li>
                                            <img src="/file/user/user.jpg" alt="Image" />
                                            <h3 th:text="${i.name}"></h3>
                                            <span
                                                    th:text="${#temporals.format(i.createdAt,'EEE, d MMM yyyy')}"
                                            ></span>

                                            <p th:text="${i.message}">
                                            </p>
                                            <a href="#"> Trả lời lại</a>
                                        </li>
                                    </th:block>

                                </ul>
                            </div>
                        </div>
                        <div class="room-details-review">
<!--                            <h2>Clients Review and Retting's</h2>-->
<!--                            <div class="review-ratting">-->
<!--                                <h3>Your retting:</h3>-->
<!--                                <i class="bx bx-star"></i>-->
<!--                                <i class="bx bx-star"></i>-->
<!--                                <i class="bx bx-star"></i>-->
<!--                                <i class="bx bx-star"></i>-->
<!--                                <i class="bx bx-star"></i>-->
<!--                            </div>-->

                            <form th:action="@{/rooms/comment}" method="post" class="form"
                                  th:object="${comment}">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
<!--                                        html hidden-->
                                        <div style="display: none" class="form-group">
                                            <input
                                                    th:value="${comment.replyId}"
                                                   th:field="*{replyId}" class="form-control" name="replyId" id="replyId">
                                        </div>
                                        <div class="form-group">
                                            <input
                                                    th:value="${comment.name}"
                                                    required
                                                   th:field="*{name}"
                                                   type="text"
                                                   class="form-control"
                                                   id="name"
                                                   placeholder="Tên của bạn...">

                                        </div>
                                        <div class="form-group">
                                            <input
                                                    required
                                                    th:value="${comment.email}"
                                                   th:field="*{email}"
                                                   type="email" class="form-control" id="email" placeholder="Email...">

                                        </div>
                                        <div class="form-group">
                                            <textarea
                                                    th:value="${comment.message}"
                                                    th:field="*{message}"
                                                    name="message"
                                                    class="form-control"
                                                    cols="30"
                                                    rows="8"
                                                    required
                                                    data-error="Write your message"
                                                    placeholder="Write your review here.... ">

                                            </textarea>

                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            Gửi đánh giá
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="room-details-other pb-70">
        <div class="container">
            <div class="room-details-text">
                <h2>Our Related Offer</h2>
            </div>
            <div class="row">
                <th:block th:if="${related.size() > 0}" th:each="r : ${related}">
                    <div class="col-lg-6">
                        <div class="room-card-two">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-md-4 p-0">
                                    <div class="room-card-img">
                                        <a href="room-details.html">
                                            <img
                                                    src="assets/img/room/room-style-img1.jpg"
                                                    alt="Images"
                                            />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 p-0">
                                    <div class="room-card-content">
                                        <h3>
                                            <a th:href="@{'/rooms/'+${r.id}}" th:text="${r.name}"></a>
                                        </h3>
                                        <th:block th:if="${r.getRoomDetails().size() > 0}"
                                                  th:each="d : ${r.getRoomDetails()}">
                                            <span th:text="${d.price}+' / Đêm(' +${d.getRoomType()}+')'"> </span></br>
                                        </th:block>
                                        <div class="rating">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                        </div>
                                        <p class="sort-text">
                                            <th:block th:utext="${r.description}">

                                            </th:block>
                                        </p>
                                        <ul>
                                            <li ><i class="bx bx-user"></i>
                                                <span th:text="${r.numberAmount}+ ' Người'">

                                                </span>
                                            </li>
                                            <li ><i class="bx bx-expand"></i>
                                                <span th:text="${r.roomSize}">

                                                </span>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li ><i class="bx bx-show-alt"></i>
                                                <span th:text="${r.location}">

                                                </span>
                                            </li>
                                            <li ><i class="bx bxs-hotel"></i>
                                                <span th:text="${r.bedSize} + ' / Twin'">

                                                </span>
                                            </li>
                                        </ul>
                                        <a th:href="@{'/rooms/'+${r.id}}" class="book-more-btn">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>